::ng-deep {
    ol, ul {
        padding-left: 0 !important;
        margin-bottom: 0 !important;
    }

    form {
        width: 50%;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .p-element .p-inputwrapper {
        width: 100%;
    }

    .p-inputnumber-input, .p-inputnumber, p-inputnumber {
        width: 100%;
    }

    .is-invalid .p-inputtext {
        border: 1px solid red !important;
    }

    .is-invalid .p-inputnumber > .p-inputtext {
        border: 1px solid red !important;
    }

    .is-invalid .p-dropdown {
        border: 1px solid red !important;
    }
}