<div class="container d-flex flex-column justify-content-center align-items-center mt-3">
    <h2>{{ isEditing ? 'Edit Product' : 'Manage Products' }}</h2>

    <form [formGroup]="productForm" class="d-flex flex-column mt-3 mb-4" (ngSubmit)="isEditing ? updateProduct() : addProduct()">
        <!-- Name -->
        <div class="mb-3">
            <input pInputText type="text" id="name" formControlName="name" name="name" placeholder="Product Name">

            <!-- Name Error Message -->
            <div *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)" class="text-danger">
                <div>Name is required.</div>
            </div>
        </div>

        <!-- Description -->
        <div class="mb-3">
            <textarea pInputTextarea name="description" id="description" formControlName="description" placeholder="Description"></textarea>

            <!-- Description Error Message -->
            <div *ngIf="productForm.get('description')?.invalid && (productForm.get('description')?.dirty || productForm.get('description')?.touched)" class="text-danger">
                <div>Description is required.</div>
            </div>
        </div>

        <!-- Price -->
        <div class="mb-3">
            <p-inputNumber type="number" mode="currency" currency="USD" name="price" id="price" formControlName="price" placeholder="Price" [ngClass]="{
                'is-invalid':
                productForm.controls['price'].invalid && 
                (productForm.controls['price'].dirty ||
                    productForm.controls['price'].touched)
            }" />

            <!-- Price Error Message -->
            <div *ngIf="productForm.get('price')?.invalid && (productForm.get('price')?.dirty || productForm.get('price')?.touched)" class="text-danger">
                <div>Price is required.</div>
                <div *ngIf="productForm.get('price')?.errors?.['min']">Minimum price is 1.</div>
            </div>
        </div>

        <!-- Image -->
        <div class="mb-3">
            <input pInputText type="text" name="imageUrl" id="imageUrl" formControlName="imageUrl" placeholder="Image URL">

            <!-- Image URL Error Message -->
            <div *ngIf="productForm.get('imageUrl')?.invalid && (productForm.get('imageUrl')?.dirty || productForm.get('imageUrl')?.touched)" class="text-danger">
                <div>Image URL is required.</div>
            </div>
        </div>

        <!-- Category -->
        <div class="mt-2 mb-3">
            <p-floatLabel>
                <p-dropdown
                    [options]="categoryOptions"
                    inputId="category"
                    formControlName="category"
                    name="category"
                    [filter]="true"
                    [ngClass]="{
                        'is-invalid':
                        productForm.controls['category'].invalid && 
                        (productForm.controls['category'].dirty ||
                            productForm.controls['category'].touched)
                    }"
                ></p-dropdown>
                <label for="category">Category</label>
            </p-floatLabel>

            <!-- Category Error Message -->
            <div *ngIf="productForm.get('category')?.invalid && (productForm.get('category')?.dirty || productForm.get('category')?.touched)" class="text-danger">
                <div>Choose a category.</div>
            </div>
        </div>

        <!-- Stock Quantity -->
        <div class="mb-3">
            <p-inputNumber inputId="integeronly" type="number" name="stockQuantity" id="stockQuantity" formControlName="stockQuantity" placeholder="Stock Quantity" [ngClass]="{
                'is-invalid':
                productForm.controls['stockQuantity'].invalid && 
                (productForm.controls['stockQuantity'].dirty ||
                    productForm.controls['stockQuantity'].touched)
            }" />

            <!-- Stock Quantity Error Message -->
            <div *ngIf="productForm.get('stockQuantity')?.invalid && (productForm.get('stockQuantity')?.dirty || productForm.get('stockQuantity')?.touched)" class="text-danger">
                <div>Stock Quantity is required.</div>
                <div *ngIf="productForm.get('stockQuantity')?.errors?.['min']">Minimum stock quantity is 1.</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{ isEditing ? 'Update Product' : 'Add Product' }}</button>

        <button type="button" class="btn btn-secondary mt-2" (click)="productForm.reset(); isEditing = false;" *ngIf="isEditing" [routerLink]="['/admin/products/new']">Cancel</button>
    </form>
</div>