<header class="navbar navbar-expand-lg navbar-light bg-light row p-lr-20">
    <div class="header-styling col-xs-12">
        <div class="header-styling">

            <div>
                <a href="#" class="navbar-brand">ShopNest</a>
            </div>

            <div>
                <form [formGroup]="formGroup">
                    <p-autoComplete
                        formControlName="selectedProduct"
                        [suggestions]="filteredProducts"
                        (completeMethod)="filterProduct($event)"
                        optionLabel="name" />
                </form>

            </div>
        </div>


        <p-menubar [model]="items" />

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="currentUser()?.username">
                    <!-- <a class="nav-link" href="">Welcome, {{ currentUser()?.username }}</a> -->
                </li>
                <li class="nav-item" *ngIf="currentUser()">
                    <button class="btn btn-outline-danger" (click)="logout()">
                        Logout
                    </button>
                </li>
                <li class="nav-item" *ngIf="!currentUser()">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" *ngIf="!currentUser()">
                    <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Dropdown Section for Categories -->
<div class="category-dropdown" [class.is-visible]="dropdownVisible">
    <div class="container-fluid py-3 bg-light">
        <div class="row">
            <div class="col">
                <ul class="list-unstyled">
                    <li *ngFor="let category of categories">
                        <a
                            href=""
                            [routerLink]="['/category', category.id]"
                            class="category-link"
                            >{{ category.name }}</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
