<div class="contanier mt-5">
    <h2>Product List</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.stockQuantity }}</td>
                <td>{{ product.createdAt | date }}</td>
                <td>{{ product.updatedAt | date }}</td>
                <td>
                    <div class="d-flex justify-center align-center gap-2">
                        <button class="btn btn-primary" type="button" (click)="editProduct(product)">Edit</button>
                        <button class="btn btn-danger" type="button" (click)="deleteProduct(product.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Edit Product Form -->
    <div *ngIf="productListFrom.value" class="mt-5">
        <h3>Edit Product</h3>

        <form [formGroup]="productListFrom" (ngSubmit)="saveProduct()">
            <!-- Name -->
            <div class="mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" name="name"  >

                <!-- Name Error Message -->
                <div *ngIf="productListFrom.controls['name']?.invalid && (productListFrom.controls['name']?.dirty || productListFrom.controls['name']?.touched)" class="text-danger">
                    <div>Name is required.</div>
                </div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description"  formControlName="description" class="form-control" ></textarea>

                <!-- Description Error Message -->
                <div *ngIf="productListFrom.controls['description']?.invalid && (productListFrom.controls['description']?.dirty || productListFrom.controls['description']?.touched)" class="text-danger">
                    <div>Description is required.</div>
                </div>
            </div>

            <!-- Price -->
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" formControlName="price" id="price" class="form-control"  min="1">

                <!-- Price Error Message -->
                <div *ngIf="productListFrom.controls['price']?.invalid && (productListFrom.controls['price']?.dirty || productListFrom.controls['price']?.touched)" class="text-danger">
                    <div>Price is required.</div>
                    <div *ngIf="productListFrom.controls['price'].errors?.['min']">Minimum price is 1.</div>
                </div>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="text" name="imageUrl" formControlName="imageUrl" id="imageUrl" class="form-control">

                <!-- Image URL Error Message -->
                <div *ngIf="productListFrom.controls['imageUrl']?.invalid && (productListFrom.controls['imageUrl']?.dirty || productListFrom.controls['imageUrl']?.touched)" class="text-danger">
                    <div>Image URL is required.</div>
                </div>
            </div>

            <!-- Category -->
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category" id="category"  formControlName="category" class="form-select" >
                    <option value="" disabled selected>Select a category</option>
                    <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                </select>

                <!-- Category Error Message -->
                <div *ngIf="productListFrom.controls['category']?.invalid && (productListFrom.controls['category']?.dirty || productListFrom.controls['category']?.touched)" class="text-danger">
                    <div>Choose a category.</div>
                </div>
            </div>

            <!-- Stock Quantity -->
            <div class="mb-3">
                <label for="stockQuantity" class="form-label">Stock Quantity</label>
                <input type="number" name="stockQuantity" id="stockQuantity"  class="form-control" min="1">

                <!-- Stock Quantity Error Message -->
                <div *ngIf="productListFrom.controls['stockQuantity']?.invalid && (productListFrom.controls['stockQuantity']?.dirty || productListFrom.controls['stockQuantity']?.touched)" class="text-danger">
                    <div>Stock Quantity is required.</div>
                    <div *ngIf="productListFrom.controls['stockQuantity'].errors?.['min']">Minimum stock quantity is 1.</div>
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!productListFrom.valid">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Cancel</button>
        </form>
    </div>
</div>