<div class="contanier mt-5">
    <h2>Product List</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.stockQuantity }}</td>
                <td>{{ product.createdAt | date }}</td>
                <td>{{ product.updatedAt | date }}</td>
                <td>
                    <div class="d-flex justify-center align-center gap-2">
                        <button class="btn btn-primary" (click)="editProduct(product)">Edit</button>
                        <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Edit Product Form -->
    <div *ngIf="editingProduct" class="mt-5">
        <h3>Edit Product</h3>

        <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
            <!-- Name -->
            <div class="mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="editingProduct.name" name="name" #nameField="ngModel" required>

                <!-- Name Error Message -->
                <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
                    <div *ngIf="nameField.errors?.['required']">Name is required.</div>
                </div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" [(ngModel)]="editingProduct.description" class="form-control" #descriptionField="ngModel" required></textarea>

                <!-- Description Error Message -->
                <div *ngIf="descriptionField.invalid && (descriptionField.dirty || descriptionField.touched)" class="text-danger">
                    <div *ngIf="descriptionField.errors?.['required']">Description is required.</div>
                </div>
            </div>

            <!-- Price -->
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" id="price" [(ngModel)]="editingProduct.price" class="form-control" #priceField="ngModel" required min="1">

                <!-- Price Error Message -->
                <div *ngIf="priceField.invalid && (priceField.dirty || priceField.touched)" class="text-danger">
                    <div *ngIf="priceField.errors?.['required']">Price is required.</div>
                    <div *ngIf="priceField.errors?.['min']">Minimum price is 1.</div>
                </div>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" [(ngModel)]="editingProduct.imageUrl" class="form-control" #imageUrlField="ngModel" required>

                <!-- Image URL Error Message -->
                <div *ngIf="imageUrlField.invalid && (imageUrlField.dirty || imageUrlField.touched)" class="text-danger">
                    <div *ngIf="imageUrlField.errors?.['required']">Image URL is required.</div>
                </div>
            </div>

            <!-- Category -->
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category" id="category" [(ngModel)]="editingProduct.category" class="form-select" #categoryField="ngModel" required>
                    <option value="" disabled selected>Select a category</option>
                    <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                </select>

                <!-- Category Error Message -->
                <div *ngIf="categoryField.invalid && (categoryField.dirty || categoryField.touched)" class="text-danger">
                    <div *ngIf="categoryField.errors?.['required']">Choose a category.</div>
                </div>
            </div>

            <!-- Stock Quantity -->
            <div class="mb-3">
                <label for="stockQuantity" class="form-label">Stock Quantity</label>
                <input type="number" name="stockQuantity" id="stockQuantity" [(ngModel)]="editingProduct.stockQuantity" class="form-control" #stockQuantityField="ngModel" required min="1">

                <!-- Stock Quantity Error Message -->
                <div *ngIf="stockQuantityField.invalid && (stockQuantityField.dirty || stockQuantityField.touched)" class="text-danger">
                    <div *ngIf="stockQuantityField.errors?.['required']">Stock Quantity is required.</div>
                    <div *ngIf="stockQuantityField.errors?.['min']">Minimum stock quantity is 1.</div>
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="productForm.invalid">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Cancel</button>
        </form>
    </div>
</div>