<div
    class="container d-flex flex-column justify-content-center align-items-center"
>
    <h2>Manage Categories</h2>

    <!-- Form to Add/Edit Categories -->
    <form
        [formGroup]="categoriesForm"
        class="d-flex flex-column mt-3 mb-3"
        (ngSubmit)="isEditing ? updateCategory() : addCategory()"
    >
        <div class="mb-3">
            <input
                pInputText
                type="text"
                class="form-control"
                id="categoryName"
                formControlName="categoryName"
                name="categoryName"
                placeholder="Enter category name"
            />

            <!-- Category Name Error Message -->
            <div
                *ngIf="
                    categoriesForm.get('categoryName')?.invalid &&
                    (categoriesForm.get('categoryName')?.dirty ||
                        categoriesForm.get('categoryName')?.touched)
                "
                class="text-danger"
            >
                <div
                    *ngIf="categoriesForm.get('categoryName')?.errors?.['required']"
                >
                    Category name is required.
                </div>
            </div>
        </div>

        <div class="mb-2">
            <textarea
                pInputTextarea
                name="categoryDescription"
                id="categoryDescription"
                formControlName="categoryDescription"
                placeholder="Enter category description"
            ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            {{ isEditing ? "Update Category" : "Add Category" }}
        </button>

        <button
            type="button"
            class="btn btn-secondary mt-2"
            (click)="resetForm()"
            *ngIf="isEditing"
        >
            Cancel
        </button>
    </form>

    <!-- Category List -->
    <h3 class="mt-2 mb-4">Category List</h3>

    <div class="card">
        <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th class="center-text">Name</th>
                    <th class="center-text">Description</th>
                    <th class="center-text">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-categories>
                <tr>
                    <td class="center-text">{{categories.name}}</td>
                    <td class="center-text">{{categories.description}}</td>
                    <td class="center-text"> <a class="btn btn-sm btn-primary ms-2" (click)="editCategory(categories)">Edit</a>
                    <a class="btn btn-sm btn-danger ms-2" (click)="deleteCategory(categories.id)">Delete</a></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>