::ng-deep {
    form {
        width: 40%;
        min-width: 250px;
    }

    input {
        width: 100%;
    }

    .p-password, input {
        width: 100%;
    }
    
    .is-invalid .p-inputtext {
        border: 1px solid red !important;
    }
}