<div class="container d-flex flex-column justify-content-center align-items-center">
    <h2>Sign Up</h2>

    <form [formGroup]="signupForm" class="d-flex flex-column" (ngSubmit)="onSignUp()">
        <div class="d-flex justify-content-between full-width gap-4 flex-wrap align-items-center mt-4">
            <div>
                <!-- Name -->
                <p-floatLabel>
                    <input
                        pInputText
                        type="text"
                        id="name"
                        formControlName="name"
                        name="name"
                    />
                    <!-- <label for="name">Name</label> -->
                </p-floatLabel>

                <!-- Name Error Messages -->
                <div
                    *ngIf="
                        signupForm.controls['name']?.invalid &&
                        (signupForm.controls['name']?.dirty ||
                            signupForm.controls['name']?.touched)
                    "
                    class="text-danger max-error-height"
                >
                    <div
                        *ngIf="signupForm.controls['name']?.errors?.['required']"
                    >
                        Name is required.
                    </div>
                    <div
                        *ngIf="signupForm.controls['name']?.errors?.['minlength']"
                    >
                        Name must be at least 2 characters long.
                    </div>
                    <div
                        *ngIf="signupForm.controls['name']?.errors?.['maxlength']"
                    >
                        Name must be less than 50 characters.
                    </div>
                    <div
                        *ngIf="signupForm.controls['name']?.errors?.['pattern']"
                    >
                        Name must start with a capital letter and only contain
                        letters.
                    </div>
                </div>
            </div>

            <!-- Last Name -->
            <div>
                <p-floatLabel>
                    <input
                        pInputText
                        type="text"
                        id="lastName"
                        formControlName="lastName"
                        name="lastName"
                    />
                    <label for="lastName" class="label-block">Last Name</label>
                </p-floatLabel>

                <!-- Last Name Error Messages -->
                <div
                    *ngIf="
                        signupForm.controls['lastName']?.invalid &&
                        (signupForm.controls['lastName']?.dirty ||
                            signupForm.controls['lastName']?.touched)
                    "
                    class="text-danger max-error-height"
                >
                    <div
                        *ngIf="signupForm.controls['lastName']?.errors?.['required']"
                    >
                        Last name is required.
                    </div>
                    <div
                        *ngIf="signupForm.controls['lastName']?.errors?.['minlength']"
                    >
                        Last name must be at least 2 characters long.
                    </div>
                    <div
                        *ngIf="signupForm.controls['lastName']?.errors?.['maxlength']"
                    >
                        Last name must be less than 50 characters.
                    </div>
                    <div
                        *ngIf="signupForm.controls['lastName']?.errors?.['pattern']"
                    >
                        Last name must start with a capital letter and only
                        contain letters.
                    </div>
                </div>
            </div>
        </div>

        <!-- Username -->
        <div class="mt-5">
            <p-floatLabel>
                <input
                    pInputText
                    type="text"
                    id="username"
                    formControlName="username"
                    name="username"
                    (ngModelChange)="onUsernameChange()"
                    [ngClass]="{
                        'ng-invalid': usernameExists,
                        'ng-touched': signupForm.controls['username'].touched
                    }"
                />
                <label for="username" class="label-block">Username</label>
            </p-floatLabel>

            <!-- Username Error Messages -->
            <div
                *ngIf="
                    signupForm.controls['username']?.invalid &&
                    (signupForm.controls['username']?.dirty ||
                        signupForm.controls['username']?.touched)
                "
                class="text-danger"
            >
                <div
                    *ngIf="signupForm.controls['username']?.errors?.['required']"
                >
                    Username is required.
                </div>
                <div
                    *ngIf="signupForm.controls['username']?.errors?.['minlength']"
                >
                    Username must be at least 4 characters long.
                </div>
                <div
                    *ngIf="signupForm.controls['username']?.errors?.['maxlength']"
                >
                    Username must be less than 20 characters.
                </div>
                <div
                    *ngIf="signupForm.controls['username']?.errors?.['pattern']"
                >
                    Username can only contain letters, numbers, and underscores.
                </div>
            </div>
            <div *ngIf="usernameExists" class="text-danger max-error-height">
                This username is already registered.
            </div>
        </div>

        <!-- Email -->
        <div class="mt-5">
            <p-floatLabel>
                <input
                    pInputText
                    type="email"
                    id="email"
                    formControlName="email"
                    name="email"
                    (ngModelChange)="onEmailChange()"
                    [ngClass]="{
                        'ng-invalid': emailExists,
                        'ng-touched': signupForm.controls['email'].touched
                    }"
                />
                <label for="email" class="label-block">Email</label>
            </p-floatLabel>

            <!-- Email Error Messages -->
            <div
                *ngIf="
                    signupForm.controls['email']?.invalid &&
                    (signupForm.controls['email']?.dirty ||
                        signupForm.controls['email']?.touched)
                "
                class="text-danger"
            >
                <div *ngIf="signupForm.controls['email']?.errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="signupForm.controls['email']?.errors?.['email']">
                    Please enter a valid email address.
                </div>
                <div
                    *ngIf="signupForm.controls['email']?.errors?.['maxlength']"
                >
                    Email must be less than 50 characters.
                </div>
            </div>
            <div *ngIf="emailExists" class="text-danger max-error-height">
                This email is already registered.
            </div>
        </div>

        <!-- Address -->
        <div class="mt-5">
            <p-floatLabel>
                <input
                    pInputText
                    type="text"
                    id="address"
                    formControlName="address"
                    name="address"
                />
                <label for="address" class="label-block">Address</label>
            </p-floatLabel>

            <!-- Address Error Messages -->
            <div
                *ngIf="
                    signupForm.controls['address']?.invalid &&
                    (signupForm.controls['address']?.dirty ||
                        signupForm.controls['address']?.touched)
                "
                class="text-danger"
            >
                <div
                    *ngIf="signupForm.controls['address']?.errors?.['required']"
                >
                    Address is required.
                </div>
                <div
                    *ngIf="signupForm.controls['address']?.errors?.['minlength']"
                >
                    Address must be at least 5 characters long.
                </div>
                <div
                    *ngIf="signupForm.controls['address']?.errors?.['maxlength']"
                >
                    Address must be less than 100 characters.
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <!-- Birthday -->
            <div class="mt-5">
                <p-floatLabel>
                    <p-calendar
                        [showIcon]="true"
                        [showOnFocus]="false"
                        class="custom-border"
                        inputId="birthday"
                        formControlName="birthday"
                        (ngModelChange)="validateAge()"
                        [ngClass]="{
                            'is-invalid':
                                signupForm.controls['birthday'].invalid &&
                                (signupForm.controls['birthday'].dirty ||
                                    signupForm.controls['birthday'].touched),
                            'w-full': true
                        }"
                    />
                    <label for="birthday" class="label-block">Birthday</label>
                </p-floatLabel>
    
                <div
                    *ngIf="
                        signupForm.controls['birthday']?.invalid &&
                        (signupForm.controls['birthday']?.dirty ||
                            signupForm.controls['birthday']?.touched)
                    "
                    class="text-danger max-error-height"
                >
                    <div
                        *ngIf="signupForm.controls['birthday']?.errors?.['required']"
                    >
                        Birthday is required.
                    </div>
                    <div
                        *ngIf="signupForm.controls['birthday']?.errors?.['invalidAge']"
                    >
                        You must be at least 18 years old.
                    </div>
                </div>
            </div>
    
            <!-- Gender -->
            <div class="mt-5">
                <p-floatLabel>
                    <p-dropdown
                        [options]="genderOptions"
                        class="custom-border"
                        inputId="gender"
                        formControlName="gender"
                        name="gender"
                    ></p-dropdown>
                    <label for="gender" class="label-block">Gender</label>
                </p-floatLabel>
    
                <!-- Gender Error Messages -->
                <div
                    *ngIf="
                        signupForm.controls['gender']?.invalid &&
                        (signupForm.controls['gender']?.dirty ||
                            signupForm.controls['gender']?.touched)
                    "
                    class="text-danger max-error-height"
                >
                    <div
                        *ngIf="signupForm.controls['gender']?.errors?.['required']"
                    >
                        Gender is required.
                    </div>
                </div>
            </div>
        </div>


        <!-- Password -->
        <div class="mt-5">
            <p-floatLabel>
                <p-password
                    type="password"
                    inputId="password"
                    formControlName="password"
                    name="password"
                    [toggleMask]="true"
                />
                <label for="password" class="label-block">Password</label>
            </p-floatLabel>

            <!-- Password Error Messages -->
            <div
                *ngIf="
                    signupForm.controls['password']?.invalid &&
                    (signupForm.controls['password']?.dirty ||
                        signupForm.controls['password']?.touched)
                "
                class="text-danger"
            >
                <div
                    *ngIf="signupForm.controls['password']?.errors?.['required']"
                >
                    Password is required.
                </div>
                <div
                    *ngIf="signupForm.controls['password']?.errors?.['minlength']"
                >
                    Password must be at least 8 characters long.
                </div>
                <div
                    *ngIf="signupForm.controls['password']?.errors?.['pattern']"
                >
                    Password must contain:
                    <ul>
                        <li>At least one uppercase letter.</li>
                        <li>At least one lowercase letter.</li>
                        <li>At least one number.</li>
                        <li>At least one special character.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="mt-5 mb-3">
            <p-floatLabel>
                <p-password
                    type="password"
                    inputId="confirmPassword"
                    formControlName="confirmPassword"
                    name="confirmPassword"
                    [toggleMask]="true"
                    [feedback]="false"
                    [ngClass]="{
                        'is-invalid':
                            signupForm.controls['confirmPassword'].invalid &&
                            (signupForm.controls['confirmPassword'].dirty ||
                                signupForm.controls['confirmPassword'].touched)
                    }"
                />
                <label for="confirmPassword" class="label-block label-block"
                    >Confirm Password</label
                >
            </p-floatLabel>

            <!-- Confirm Password Error Messages -->
            <div
                *ngIf="
                    signupForm.controls['confirmPassword']?.invalid &&
                    (signupForm.controls['confirmPassword']?.dirty ||
                        signupForm.controls['confirmPassword']?.touched)
                "
                class="text-danger"
            >
                <div
                    *ngIf="signupForm.controls['confirmPassword']?.errors?.['required']"
                >
                    Confirm password is required.
                </div>
            </div>

            <!-- Password Match Error Message -->
            <div
                *ngIf="
                    signupForm.controls['password'].value !==
                        signupForm.controls['confirmPassword'].value &&
                    (signupForm.controls['confirmPassword']?.dirty ||
                        signupForm.controls['confirmPassword']?.touched)
                "
                class="text-danger"
            >
                Passwords do not match.
            </div>
        </div>

        <button
            type="submit"
            class="btn btn-primary mt-3"
        >
            Sign Up
        </button>

        <div class="mt-1 mb-4">
            <span
                >Already have an account?
                <a [routerLink]="['/login']">Login</a></span
            >
        </div>
    </form>
</div>
